@page
@using MVS.Common.Enum
@using MVS.Web.Helpers
@model MVS.Web.Pages.Vault.VolontesModel
@{
}

@Html.AntiForgeryToken()
<section id="folder" class="col p-5">
    @Html.Partial("_Partials/_FolderNavigation")

    @Html.Partial("_Partials/_TimeLine")

    <div id="volontes" class="card mt-3">
        <h3>Mes Volontés</h3>
        <div class="row tableRowHeader mt-4">
            <div class="col-3">
                <p><img src="~/img/icons/file-search-blue.svg" class="me-2" />DOCUMENT</p>
            </div>
            <div class="col text-center">
                <p>ACTION</p>
            </div>
            <div class="col text-center">
                <p>STATUT</p>
            </div>
            <div class="col text-center">
                <p>IMPRIMER</p>

            </div>
            @*<div class="col-3">
            <p><img src="~/img/icons/file-search-blue.svg" class="me-2" />DOCUMENT</p>
            </div>
            <div class="col text-center">
            <p>ACTION</p>
            </div>
            <div class="col text-center">
            <p>STATUT</p>
            </div>
            <div class="col text-center">
            <p>AFFICHER</p>
            </div>
            <div class="col text-center">
            <p>IMPRIMER</p>
            </div>*@
        </div>

        @*<div class="row tableRowContent">
        <div class="col-3">
        <p>VaultContact</p>
        </div>
        </div>*@

        @*<div class="row tableRowContent">
        <div class="col-3">
        <p>Situation personnelle</p>
        </div>
        <!-- Class for badges available : bg-grey, bg-purple, bg-outline-purple, bg-completed -->
        <div class="col text-center">
        @if (Model._PersonnalSituationContract.Sign == true)
        {
        <p><span class="badge bg-completed">Signé</span></p>

        }
        else if (Model._PersonnalSituationContract.EnvelopeId != null)
        {
        <p><span class="badge bg-grey">En signature</span></p>
        }
        else
        {
        //<p><span class="badge bg-purple" data-bind="click: function(){openSignatureModal('@Model._PersonnalSituationContract.Id', 'Situation Personnelle')}">Signer</span></p>
        <a class="badge bg-purple" asp-page-handler="SendToSignature" asp-route-folderId="@Model._folderId" asp-route-contractId="@Model._PersonnalSituationContract.Id">Signer</a>
        }
        </div>
        <!-- Img available : statut-waiting.svg, statut-checked.svg, statut-wainting.svg  -->
        @if (Model._PersonnalSituationContract.Sign ?? false)
        {
        <div class="col text-center"><img src="/img/icons/statut-checked.svg" /></div>
        }
        else
        {
        <div class="col text-center"><img src="/img/icons/statut-waiting.svg" /></div>
        }
        <div class="col text-center">
        <!--<img src="/img/icons/search_checked.svg"/>-->
        <a href="#" class="btn-link" data-bs-toggle="modal" data-bs-target="#show-situationpersonal"><img src="~/img/icons/file-search.svg" class="me-2" />Afficher</a>
        </div>
        <div class="col text-center">
        <!--<img src="/img/icons/print.svg"/>-->
        <a href="@(Url.Page("/Vault/Volontes", "DownloadPersonnalSituation", new {contractId = Model._PersonnalSituationContract.Id, folderId = Model._folderId}))" class="btn-link"><img src="~/img/icons/print_green.svg" class="me-2" />Télécharger</a>
        </div>
        </div>*@



        <!-- ko foreach : documents-->
        <div class="row tableRowContent">
            <div class="col-3">
                <p data-bind="text: name">Name</p>
            </div>
            @if (User.IsInRole("SuperAdmin"))
            {
                <!-- ko if: url == null && contractId == null -->
                <div class="col text-center">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#uploadDocumentModal" data-bind="click: function() { $root.OpenUploadDocument(name, type, typeName, id) }"><span class="badge bg-purple">Charger</span></a>
                </div>
                <div class="col text-center"><img src="/img/icons/statut-waiting.svg" /></div>
                <div class="col text-center"><img src="/img/icons/print.svg" /></div>
                <!-- /ko -->
                <!-- ko if: url != null && contractId == null -->
                <div class="col text-center">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#uploadDocumentModal" data-bind="click: function() { $root.OpenUploadDocument(name, type, typeName, id) }"><span class="badge bg-outline-purple">Modifier</span></a>
                </div>
                <!-- /ko -->
            }
            else
            {
                <!-- ko if: url == null && contractId == null -->
                <div class="col text-center">
                    <a href="#"><span class="badge bg-purple">En attente</span></a>
                </div>
                <div class="col text-center"><img src="/img/icons/statut-waiting.svg" /></div>
                <div class="col text-center"><img src="/img/icons/print.svg" /></div>
                <!-- /ko -->
                <!-- ko if: url != null && contractId == null -->
                <div class="col text-center">
                    <a href="#"><span class="badge bg-outline-purple">Signées</span></a>
                </div>
                <!-- /ko -->
            }
            <!-- ko if: url == null && contractId != null -->
            <div class="col text-center">
            </div>
            <!-- /ko -->
            <!-- ko if: url != null || contractId != null -->
            <div class="col text-center"><img src="/img/icons/statut-checked.svg"></div>
            <div class="col text-center"><a data-bind="attr: { 'href' : contractId == null ? '@(Url.Page("/Vault/Volontes", "DownloadDocument", null))' + '&folderId=' + folderId + '&fileName=' + fileName + '&type=' + type : '@(Url.Page("/Vault/Volontes", "DownloadContract", null))' + '&contractId=' + contractId }" class="btn-link"><img src="/img/icons/print_green.svg" class="me-2">Télécharger</a></div>
            <!-- /ko -->
        </div>
        <!-- /ko -->
        @*<div class="row tableRowContent">
        <div class="col-3">
        <p>Situation familiale</p>
        </div>
        <!-- Class for badges available : bg-grey, bg-purple, bg-outline-purple, bg-completed -->
        <div class="col text-center">
        @if (Model._FamilySituationContract.Sign == true)
        {
        <p><span class="badge bg-completed">Signé</span></p>

        }
        else if (Model._FamilySituationContract.EnvelopeId != null)
        {
        <p><span class="badge bg-grey">En signature</span></p>
        }
        else
        {
        //<p><span class="badge bg-purple" data-bind="click: function(){openSignatureModal('@Model._PersonnalSituationContract.Id', 'Situation Personnelle')}">Signer</span></p>    Ancienne condition if : Model._MissionLetterContract.Sign ?? false
        <a class="badge bg-purple" asp-page-handler="SendToSignature" asp-route-folderId="@Model._folderId" asp-route-contractId="@Model._FamilySituationContract.Id">Signer</a>
        }
        </div>
        <!-- Img available : statut-waiting.svg, statut-checked.svg, statut-wainting.svg  -->
        @if (Model._FamilySituationContract.Sign ?? false)
        {
        <div class="col text-center"><img src="/img/icons/statut-checked.svg" /></div>
        }
        else
        {
        <div class="col text-center"><img src="/img/icons/statut-waiting.svg" /></div>
        }
        <div class="col text-center">
        <!--<img src="/img/icons/search_checked.svg"/>-->
        <a href="#" class="btn-link" data-bs-toggle="modal" data-bs-target="#show-situationpersonal"><img src="~/img/icons/file-search.svg" class="me-2" />Afficher</a>
        </div>
        <div class="col text-center">
        <!--<img src="/img/icons/print.svg"/>-->
        <a href="@(Url.Page("/Vault/Volontes", "DownloadFamilySituation", new {contractId = Model._FamilySituationContract.Id, folderId = Model._folderId}))" class="btn-link"><img src="~/img/icons/print_green.svg" class="me-2" />Télécharger</a>
        </div>
        </div>*@

        @*<div class="row tableRowContent">
        <div class="col-3">
        <p>Habitudes de vie</p>
        </div>
        </div>

        <div class="row tableRowContent">
        <div class="col-3">
        <p>Santé</p>
        </div>
        </div>

        <div class="row tableRowContent">
        <div class="col-3">
        <p>Patrimoine</p>
        </div>
        </div>

        <div class="row tableRowContent">
        <div class="col-3">
        <p>Budget</p>
        </div>
        </div>

        <div class="row tableRowContent">
        <div class="col-3">
        <p>Mesures d'anticipations</p>
        </div>
        </div>

        <div class="row tableRowContent">
        <div class="col-3">
        <p>Choix futurs</p>
        </div>
        </div>*@
        <partial name="Modals/_AddDocumentModal" />
        <partial name="Modals/_UploadDocumentVolontesModal" />
    </div>

    @*<partial name="Modals/_ShowPersonalSituationModal" />*@

</section>


@section Scripts
    {
    <script src="~/js/ViewModels/VolontesViewModel.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            ko.applyBindings(new volontesViewModel(@JsonHelper.GetJson(Model._folderId), 8), document.getElementById('volontes'));
            $("#tab2").addClass("selected");
        });
    </script>
}
