@page
@model MVS.Web.Pages.Home.PasswordResetNewUserAdminModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/Shared/_LayoutLoginRegister.cshtml";
}

<div class="col-6 right-content p-5">
    @if (Model.PassWordhash != null)
    {
        <a href="/Home/Login" class="btn-back me-auto"><img src="~/img/icons/arrow-left.svg" />Retour à la connexion</a>
        <div class="successEditPassword">
            <img src="~/img/icons/PasswordForgetCheck.svg" class="d-block mx-auto" />
            <p class="my-5">Votre mot de passe a déjà été défini.</p>
            <a href="/Home/Login" class="btn btn-purple mx-auto d-block">Je me connecte</a>
        </div>
    }
    @if (Model.PassWordhash == null)
    {
        <a href="/Home/Login" class="btn-back me-auto"><img src="~/img/icons/arrow-left.svg" />Retour à la connexion</a>
        <h1 class="my-5">DÉFINIR VOTRE MOT DE PASSE</h1>

        <form method="post">
            <div class="block-form ms-0">

                @if (Model._passwordError)
                {
                    <div class="text-danger auto-margin">
                        Le mot de passe doit contenir au moins 6 caractères dont :
                        <br />
                        - Une majuscule
                        <br />
                        - Une minuscule
                        <br />
                        - Un caractère spécial
                        <br />
                        - Un chiffre
                    </div>
                }

                <label class="labelinput" for="password">Mot de passe</label>
                @Html.PasswordFor(Model => Model._password, new { placeholder = "Mot de passe", @class = "form-control required mb-0"})
                @Html.ValidationMessageFor(Model => Model._password, "", new { @class = "text-danger auto-margin" })

                <label class="labelinput mt-3" for="password2">Confirmation mot de passe</label>
                @Html.PasswordFor(Model => Model._confirmPassword, new { placeholder = "Confirmation mot de passe", @class = "form-control required mb-0"})
                @Html.ValidationMessageFor(Model => Model._confirmPassword, "", new { @class = "text-danger auto-margin" })

                @Html.HiddenFor(Model => Model.email)
            </div>

            <div class="block_formcheck ms-0 align-items-center">
                @Html.CheckBoxFor(model => model._acceptCGU, new { @class = "form-check-input" })
                <a for="rememberMe" class="green-link" href="/CGU">En vous inscrivant vous acceptez nos C.G.U</a>
            </div>
            @if (Model._errorCGU)
            {
                <div class="text-danger auto-margin">Vous devez accepter les C.G.U.</div>
            }

            <input type="submit" class="btn btn-purple mx-auto d-block mt-3" value="Enregistrer le mot de passe" />
        </form>
    }
</div>
