@page
@model MVS.Web.Pages.Home.PasswordResetModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/Shared/_LayoutLoginRegister.cshtml";
}

<div class="col-6 right-content p-5">
    <a href="/Home/Login" class="btn-back me-auto"><img src="~/img/icons/arrow-left.svg" />Retour à la connexion</a>
    <h1 class="my-5">MOT DE PASSE OUBLIÉ</h1>

    @if (Model._passwordReset)
    {
        <div class="successEditPassword">
            <img src="~/img/icons/PasswordForgetCheck.svg" class="d-block mx-auto" />
            <p class="my-5">Votre mot de passe a été modifié</p>
            <a href="/Home/Login" class="btn btn-purple mx-auto d-block">Je me connecte</a>      
        </div>
    }
    else
    {
        <form method="post">
            <div class="block-form ms-0">

                @if(Model._passwordError)
                {
                    <div class="text-danger auto-margin">
                        Le mot de passe doit contenir au moins 6 caractères dont :
                        <br />
                        - Une majuscule
                        <br />
                        - Une minuscule
                        <br />
                        - Un caractère spécial
                        <br />
                        - Un chiffre
                    </div>
                }

                <label class="labelinput" for="password">Mot de passe</label>
                @Html.PasswordFor(Model => Model._password, new { placeholder = "Mot de passe", @class = "form-control required mb-0"})
                @Html.ValidationMessageFor(Model => Model._password, "", new { @class = "text-danger auto-margin" })

                <label class="labelinput" for="password2">Confirmation mot de passe</label>
                @Html.PasswordFor(Model => Model._confirmPassword, new { placeholder = "Confirmation mot de passe", @class = "form-control required mb-0"})
                @Html.ValidationMessageFor(Model => Model._confirmPassword, "", new { @class = "text-danger auto-margin" })

                @Html.HiddenFor(Model => Model._email)
                @Html.HiddenFor(Model => Model._token)
            </div>
            <input type="submit" class="btn btn-purple mx-auto d-block mt-3" value="Enregistrer le mot de passe"/>
        </form>  
    }
</div>
